#box{
    display: flex;
    /* border:  1px solid red; */
 }
#shopping{
    display: flex;
    margin: auto;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 20px;
}
#box1{
    justify-content: end;
    margin-top: 30px;
    margin-right: 50px;
    color: rgb(234, 226, 226);

}

/* Return policy */

#return{
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
    margin-top: 70px;
    background-color : rgb(246, 239, 239);
}
#return>div{
    margin: 20px;
    text-align: center;
    width: 22%;
}
#return >div>p{
     margin-top:-10px ;
     /* color: red; */
}

.svgimg{
    width: 30px;
}


#help{
    display: flex;
    background-color : rgb(246, 239, 239);

    margin-top: 40px;


}

#need{
    width: 45%;
    margin-left: 40px;
    margin-right: 20px;
}
 #call{
    width:20%;
    /* border: 1px solid red; */
    /* margin-top: 20px; */
    margin-right: 20px;

 }
#call >p{
   width: 60%;
}
 #call >div{
    display: flex;
 }
 #call>div>svg{
    padding-right:10px ;
 }

#email{
   width: 10%;
}
#email >div{
    display: flex;
    
}

#email >div>svg{
    padding-right: 10px;
}

.num+p{
    color: rgb(97, 92, 92);
}

#main{
    display: flex;

    width: 100%;
    /* height: 300px; */
    /* border: 1px solid red; */
}
#checkout{
    display: block;
    height: auto ;
    border-top: 1px solid rgb(168, 165, 165);
    width: 70%;
    /* border: 2px solid green; */

}
#big{
    display: block;
    width: 100%;
     margin-top: 20px;
    /* border: 1px solid black */
}
#big>div{
    margin-left: 70px;
    margin-top: 50px;
}
#checkout >div{
    /* border: 5px solid yellow; */
    width: auto;
    display: flex;
    
    height: 200px;
}
#check{
    width:25% ;
    margin-left: 50px;
    margin-top: 40px;

    /* border: 1px solid black; */
}

.sub{
     font-weight: 400;
     margin-left:5px;
}

#checkoutbutton{
    width: 350px;
    height: 50px;
    margin-top: 20px;
    margin-left: 30px;
    vertical-align: middle;
    background-color: rgb(28, 28, 28);
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    
}


#innerimg{

    width: 15%;
    height: 200px;
}

#subtotal{
 display: flex;
 justify-content: space-between;
}

#delivery{
    display: flex;
    justify-content: space-between;
}

#total{
    display: flex;
    justify-content: space-between;
}

#cross{
    width: 30px;
    height: 30px;
    margin-left: 150px;
}